<%- include('partials/header'); -%>

    <form>
        <h2>Signup to app</h2>
        <label for="email">Email</label>
        <input type="text" name="email" required>
        <div class="email-error"></div>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <div class="password-error"></div>
        <button>Sign up</button>
    </form>


    <script>
        const form = document.querySelector('form');
        const emailError = document.querySelector('.email-error');
        const passwordError = document.querySelector('.password-error');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();



            const email = form.email.value;
            const password = form.password.value;

            try {
                emailError.textContent = '';
                password.textContent = '';
                const response = await fetch('/auth/signup', {
                    method: 'POST',
                    body: JSON.stringify({ email, password }), //({email: email,password:password}) == ({email,password})
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                const data = await response.json(); //We turn the response in to json as data. We need take it for access error if exist.
                console.log(data);
                if (data.errors) {
                    emailError.textContent = data.errors.email;
                    passwordError.textContent = data.errors.password;
                }
                if (data.user) {
                    location.assign("/");
                }
            } catch (error) {
                console.log(error)
            }
        });
    </script>

    <style>
        .email-error,
        .password-error {
            margin: 10px;
            color: red;
        }
    </style>

    <%- include('partials/footer'); -%>